version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "monthly"
    allow:
      - dependency-name: "baseline-browser-mapping"
    open-pull-requests-limit: 1
    commit-message:
      prefix: "chore"
    labels:
      - "dependencies"
