@import "tailwindcss";
/* Adds safe-area utility classes like `pt-safe`, etc. */
@import "tailwindcss-safe-area";

/* Import ui-kit tailwind classes so compiler includes them into final tailwind bundle */
@source "../../../node_modules/@diffuse/ui-kit/dist";
/* Import ui-kit styles and style tokens */
@import "@diffuse/ui-kit/preset.css";

@config "../../tailwind.config.ts";

@theme {
  --font-mono: var(--font-dm-mono), monospace;
}

@layer base {
  code,
  kbd,
  samp,
  pre {
    @apply font-mono;
  }

  html,
  body {
    background: var(--color-bg);
    color: var(--color-text-primary);
  }
}

/* Rainbow-kit injected element styles fix */
div[data-rk] {
  height: 100%;
}
