@theme {
  --color-bg: #ecf0ef;
  --color-fg: #fcfcfc;
  --color-border: #dce3e1;
  --color-muted: #a0adba;
  --color-primary: #41ca00;
  --color-secondary: #319700;
  --color-primary-fg: #f4ffef;
  --color-text-primary: #111827;
  --color-accent: #1c1127;
  --color-text-dimmed: #4b5563;
  --color-err: #ff4800;
  --color-err-light: #fff5f2;
  --color-warn: #ffe83f;
  --color-success: #41ca00;
  --color-preset-gray-50: #f6f7f7;
  --color-preset-gray-200: #49454f;

  --radius-xs: 8px;
  --radius-sm: 16px;
  --radius-md: 24px;
  --radius-lg: 36px;
  --radius-xl: 48px;

  --text-h1: 42px;
  --text-h2: 32px;
  --text-h3: 24px;
  --text-h4: 18px;
  --text-h5: 18px;
  --text-h6: 1rem / 1.5rem;

  --text-lg: 24px;
  --text-body: 16px;
  --text-sm: 14px;
  --text-subtle: 12px;
  --text-xs: 10px;

  --shadow-soft: 0 0 14px 4px rgb(0 0 0 / 0.06), 0 0 4px 1px rgb(0 0 0 / 0.03);
  --shadow-strong: 0 0 40px 12px rgb(0 0 0 / 0.1), 0 0 16px 4px rgb(0 0 0 / 0.05);
}

/* Dark theme overrides */
.dark {
  --color-bg: #1e1e2e;
  --color-fg: #222235;
  --color-border: #36363e;
  --color-muted: #a1a1aa;
  --color-text-primary: #e4e4e7;
  --color-primary-fg: #f9fafb;
  --color-text-dimmed: #9ca3af;
  --color-preset-gray-50: #f6f7f715;
  --color-preset-gray-200: #a3a3a3;

  --color-err-light: #fff5f220;
}

/* Responsive rendering overrides */
@media (max-width: 640px) {
  :root {
    --text-h1: 32px;
  }
}

@utility shadow-soft {
  box-shadow: var(--shadow-soft);
}

@utility shadow-strong {
  box-shadow: var(--shadow-strong);
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomFadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalContentSlideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@utility animate-in-zoom {
  animation: zoomIn 0.18s ease-out both;
}

@utility animate-in-fade {
  animation: fadeIn 0.18s ease-out both;
}

@utility animate-in-zoom-fade {
  animation: zoomFadeIn 0.18s ease-out both;
}

@utility animate-in-slide-down {
  animation: slideDown 0.18s ease-out both;
}

@utility animate-in-slide-up {
  animation: slideUp 0.18s ease-out both;
}

@utility standard-focus-ring {
  @apply focus-visible:ring-primary/60 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-transparent;
}

@utility animate-modal-content-in {
  animation:
    modalContentSlideIn 0.35s cubic-bezier(0.15, 1.15, 0.6, 1),
    fadeIn 0.15s;
}
