@import "tailwindcss" source("./");

@import "../src/theme/preset.css";

@source "../src";
@source "./**/*.{ts,tsx}";

@layer base {
  html,
  body {
    background: var(--color-bg);
    color: var(--color-text-primary);
    position: relative;
    cursor: default;
  }
}
