name: Npm dependencies audit

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  audit:
    name: Audit Npm dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          setup-node: true
          audit: true
